* {margin:0; padding:0;}
 

 
.menu-wrap {
	background:linear-gradient(to top,rgba(255,0,0,0),#3DA068); 
	background-color:#53bd84;
	height:40px; 
	line-height:40px; 
	position:relative;
	width:100%;
	margin:auto;
	font-family:calibri;
	border-bottom:solid 2px #FFF;
	
}
 
 .menu-warp li {
	 position:relative;
	 border-top:solid 1px #000000;
 }
 
.menu-wrap ul {
	transition: 300ms;
	list-style:none;
}
 
.menu-wrap ul li a {
	transition: 300ms;
	float:left; 
	width:190px; 
	display:block; 
	text-align:center; 
	color:#FFF; 
	text-decoration:none; 
	text-transform:uppercase;
	
}
 
.menu-wrap ul li a:hover {
	
	background:linear-gradient(to top,rgba(255,0,0,0),#4D4D4D);
	background-color:#666;
	padding-left:50px;
	width:140px;
}
 
.menu-wrap ul li a:hover {
	display:block;
	transition: 300ms;
}
 
.menu-wrap  ul li:hover ul {
	display:block;
	transition: 300ms;
}
 
.Drop ul {
	display:none; 
	list-style:none; 
	position:absolute; 
	background:linear-gradient(to top,rgba(255,0,0,0),#3DA068);
	background-color:#53bd84;
	top:40px;
	width:190px;
	transition: 300ms;
	
}

.Drop2 ul {
	display:none; 
	list-style:none; 
	position:absolute; 
	background:linear-gradient(to top,rgba(255,0,0,0),#3DA068);
	background-color:#53bd84;
	left:380px; 
	top:40px;
	width:190px;
	transition: 300ms;
}

.Drop3 ul {
	display:none; 
	list-style:none; 
	position:absolute; 
	background:linear-gradient(to top,rgba(255,0,0,0),#3DA068);
	background-color:#53bd84;
	left:380px; 
	top:40px;
	width:190px;
	transition: 300ms;
}

 
.menu-wrap ul ul li a {
	float:none; 
	display:block; 
	padding-left:30px;
	text-align:left; 
	width:160px;
}
 
.menu-wrap ul ul li a:hover {
	color:#fff;
	transition: 300ms;
}


img.Drop {
	padding-top:5px;
	height:30px;
	width:30px;
}

li.Drop{
	height:40px;
	margin-left:81%;
}

li.Drop2{
	margin-left:380px;
}

li.Drop3{
	margin-left:380px;
}

.short_by {
	background:linear-gradient(to top,rgba(255,0,0,0),#3DA068);
	background-color:#53bd84;
	height:40px; 
	line-height:40px; 
	position:relative;
	width:200px;
	margin-right:auto;
	margin-top:10px;
	font-family:calibri;
	position:absolute;
	left:570px;
	top:160px;
	
	
	
	
}

 
.short_by ul {
	list-style:none;
	
}
 
.short_by ul li a {
	float:left; 
	width:200px; 
	display:block; 
	text-align:center; 
	color:#FFF; 
	text-decoration:none; 
	text-transform:uppercase;
	font-size:14px;
	transition:300ms;
	
}
 
.short_by ul li a:hover {
	background:linear-gradient(to top,rgba(255,0,0,0),#4D4D4D);
	background-color:#666;
	
	display:block;
	padding-left:50px;
	width:150px;
}
 
.short_by ul li:hover ul {
	display:block;
	
}
 
.short_by ul ul {
	display:none; 
	list-style:none; 
	position:absolute; 
	background:linear-gradient(to top,rgba(255,0,0,0),#3DA068);
	background-color:#53bd84;
	left:0px; 
	top:40px; 
	width:200px;
}
 
.short_by ul ul li a {
	float:none; 
	display:block; 
	padding-left:30px; 
	text-align:left; 
	width:170px;
	
}
 
.short_by ul ul li a:hover {
	color:#fff;
}