div.form {
	text-align:left;
	
}

.form select, .form option{
	color:#AAAAAA;
	font-family:calibri;
}

.form input,.form textarea	{
	color:#AAAAAA;
	font-family:calibri;
	font-size:14px;
}

.form h3 {
	margin-left:15px;
	margin-top	:20px;
	margin-bottom:5px;
	color:#333333;
}
p.note {
	margin-left:20px;
	margin-top:10px;
}
.form hr {
	margin-left:15px;
	margin-right:15px;
}

.form table {
	margin:auto;
	padding-top:30px;
	border-collapse:collapse;
	margin-top:40px;
	font-family:Calibri;
	color:#AAAAAA;
	border:solid 2px #78CB9C;
	width:900px;
	
}

.form th	{
	text-align	:	left;
	background-color	:#78CB9C;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:20px;
	padding-top:10px;
	border-bottom:solid 2px #78CB9C;
	color:	#FFF;
}

.form input[type=text],.form input[type=password] {
	padding:5px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
	width:200px;
}

.form select {
	padding:5px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.form textarea {
	padding:5px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}



.form td {
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	background-color:#EEEEEE;
}



img.png {
	height:40px;
	width:40px;
}

button.float{

		 border:outset 2px ;
		 border-radius:5px;
		 margin-left:5px;
		 margin-right:5px;
}
button.float2{
	float:left;
		 border:outset 2px ;
		 border-radius:5px;
}

li.show{
	height:25px;
	width:100px;
	background:linear-gradient(to top,rgba(255,0,0,0),#660000);
	background-color:#B30000;
	list-style:none;
	padding-top:5px;
	border-radius:10px;
	text-align:center;

}

.form a{
	color:#FFFFFF;
	text-decoration:none;
}

.halaman
 {
padding-left:8px;
padding-top:4px;
padding-bottom:6px;
padding-right:2px;
margin-left:10px;

 background-color:#78CB9C;
 font-size:16px;
 color:#FFF;
 text-decoration:none;
 }

.halaman a
 {

padding-left:8px;
padding-top:4px;
padding-bottom:6px;
padding-right:4px;
margin-left:5px;
margin-right:5px;
 border:2px solid #FFFFFF;
  background-color:#79796A;
 font-size:16px;
 color:#FFF;
 text-decoration:none;

}

.halaman a:hover{
	 background-color:#79796A;
}

td.right_border {
	padding-right:10px;
}