div.form {
	height:480px;
	width:600px;
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	border:solid 1px #A8A8B7;
	color:#868695;
	Text-align:left;
}

.form select, .form option{
	color:#AAAAAA;
	font-family:calibri;
}

.form input,.form textarea	{
	color:#AAAAAA;
	font-family:calibri;
	font-size:14px;
}

.form h3 {
	margin-left:15px;
	margin-top	:20px;
	margin-bottom:5px;
	color:#333333;
}
p.note {
	margin-left:20px;
	margin-top:10px;
}
.form hr {
	margin-left:15px;
	margin-right:15px;
}

.form table {
	margin:auto;
	padding-top:30px;
	border-collapse:collapse;
	margin-top:40px;
	font-family:Calibri;
	color:#AAAAAA;
	width:520px;
	height:360px;
	border:solid 2px #78CB9C;
	
}

.form th	{
	text-align	:	left;
	background-color	:#78CB9C;
	padding-left:10px;
	padding-right:5px;
	padding-bottom:20px;
	padding-top:10px;
	border-bottom:solid 1px #EEEEEE;
	color:	#FFF;
}

.form input[type=text],.form input[type=password] {
	padding:5px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
	width:200px;
}

.form select {
	padding:5px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.form textarea {
	padding:5px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}



.form td {
	padding-top:10px;
	padding-left:30px;
	background-color:#EEEEEE;
}

.form button, .form input[type=submit], .form input[type=reset] {
	width:70px;
	height:35px;
	border:solid 1px #CCCCCC;
	background-color:#78CB9C;
	font-family:calibri;
	color:#FFF;
	font-size:16px;
	margin-top:10px;
	margin-left:20%;
}

#file {
	height:21px;
	width:200px;
	transition:500ms;
}

.center {
	margin-left:14%;
	margin-right:14%;
}
