div.form {
	text-align:left;
}

h3 {
	margin-left:15px;
	margin-top	:20px;
	margin-bottom:5px;
	color:#333333;
}
p.note {
	margin-left:10px;
	margin-top:10px;
}
hr {
	margin-left:15px;
	margin-right:15px;
}

table.form {
	margin:auto;
	padding-top:30px;
}

.form input {
	width:180px;
	height:20px;
	border:solid 1px #868695;
}

td {
	padding-top:10px;
	padding-left:10px;
}

button {
	width:60px;
	height:30px;
	border:solid 1px #868695;
	background:linear-gradient(to bottom,#78CB9C,#3DA068);
	font-family:calibri;
	color:#FFF;
	font-size:16px;
	margin-top:10px;
}

#file {
	height:22px;
	width:180px;
	transition:500ms;
}

#file:hover{
	width:250px;
}

